.buttons {
  position: relative;
  width: 150px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 5px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  /* padding: 0 8px; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.2s ease-in-out width;
  transition-delay: 0.22s;
  overflow: hidden;
  color: #fff;
}

.buttons button.putBtn {
  background-color: #5cc22d;
  z-index: 2;
  right: 0;
  top: 0;
}

.buttons button.putBtn.active,
.buttons button.popBtn.active {
  width: 28%;
}

.buttons button.popBtn {
  background-color: #ff4949;
  width: 99%;
  z-index: 1;
  left: 0;
  top: 0;
}

.buttons button.putBtn:active {
  background-color: #257500;
}

.buttons button.popBtn:active {
  background-color: #ad0000;
}

.increase {
  position: absolute;
  transform: translateY(170%);
  transition: 0.2s ease-in-out;
}
.active .increase {
  transform: none;
}

.decrease {
  position: absolute;
  transform: translateY(170%);
  transition: 0.2s ease-in-out;
}
.active.morethan1 .decrease {
  transform: none;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 150px;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.add p {
  font-weight: 100;
  font-size: 1rem;
}
.active .add {
  transform: translateY(-170%);
}

.remove {
  position: absolute;
  transition: 0.2s ease-in-out;
}
.morethan1 .remove {
  transform: translateY(-170%);
}

/* .addToBox button:hover {
  background-color: #3cbe00;
} */


/* @media (max-width: 560px) {
  .buttons button {
    font-size: 1rem;
    background-color: #51ff00;
    border-radius: 5px;
    transition: .3s;
    width: 150px;
  }
} */
