.card {
  font-family: "tanha", serif;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bgimage {
  z-index: 2;
  position: absolute;
  min-width: 100%;
  height: 100%;
  transition: 0.3s;
  /* aspect-ratio: 1 / 1; */
}

.li {
  opacity: 0;
  /* transition: .5s ease-in-out; */
  visibility: hidden;
}
.li:global(.right) {
  transform: translateX(50px) rotate(5deg) scale(.8);;
}
.li:global(.center) {
  transform: translateY(50px) scale(.8);;
}
.li:global(.left) {
  transform: translateX(-50px) rotate(-5deg) scale(.8);
}
.li.opened {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.card h1,
.card p {
  /* background-color: #ffffff59; */
  /* box-shadow: 0 0 5px 5px #00000046; */
  background: #0000007a;
  color: #ffffff;
  min-width: 70%;
  transition: 0.4s;
  border-radius: 6px;
  z-index: 3;
}

.card h1 {
  font-size: 1rem;
  padding: 5px 8px;
  transform: translateY(15px);
  text-align: center;
}

.card p {
  padding: 5px;
  font-size: 0.85rem;
  font-weight: 400;
  transform: translateY(-15px) translateX(-70%);
  display: flex;
  justify-content: start;
  align-items: center;
}
.card p::before {
  content: "\F06C\00FE0E";
  font-weight: 400;
  letter-spacing: normal;
  line-height: 0;
  width: 16px;
  height: 16px;
  font-family: digikala;
  font-size: 100%;
  line-height: 0.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  /* line-height: 1; */
  /* box-sizing: inherit; */
}

.link {
  text-decoration: none;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .card:hover .bgimage {
    transform: scale(1.3);
  }

  /* .card h1 {
    transform: translateY(-50px);
    width: 78%;
  }

  .card p {
    transform: translateY(50px);
    width: 90%;
  }

  .card:hover h1 {
    transform: translateY(10px);
  }
  .card:hover p {
    transform: translateY(-10px);
  } */
}

@media (min-width: 320px) and (max-width: 900px) {
  .card {
    width: 160px;
    height: 220px;
    border-radius: 30px;
  }

  .card h1 {
    font-size: 0.66rem;
    padding: 4px 2px;
    transform: translateY(10px);
    width: 78%;
  }

  .card p {
    /* padding: 5px; */
    font-size: 0.6rem;
    transform: translateY(-10px) translateX(-60%);
    align-items: center;
    /* width: 90%; */
  }
  .card p {
    /* padding: 5px; */
    font-size: 0.6rem;
    transform: translateY(-10px) translateX(-60%);
    align-items: center;
    gap: 0;
    /* width: 90%; */
  }
  .card p::before {
    line-height: 1.5;
    margin-left: -4px;
  }
}
