ul {
  list-style-type: none;
}

.card {
  font-family: "tanha", serif;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bgimage {
  z-index: 2;
  position: absolute;
  min-width: 100%;
  height: 100%;
  transition: 0.3s;
}

.card h1,
.card p {
  /* background-color: #ffffff59; */
  /* box-shadow: 0 0 5px 5px #00000046; */
  background: #0000007a;
  color: #ffffff;
  width: 70%;
  text-align: center;
  transition: 0.4s;
  border-radius: 6px;
  z-index: 3;
}

.card h1 {
  font-size: 1rem;
  padding: 5px 2px;
  transform: translateY(15px);
}

.card p {
  padding: 5px;
  font-size: 0.55rem;
  font-weight: 400;
  transform: translateY(-15px);
}

.link {
  text-decoration: none;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .card:hover .bgimage {
    transform: scale(1.3);
  }

  .card h1 {
    transform: translateY(-50px);
    width: 78%;
  }

  .card p {
    transform: translateY(50px);
    width: 90%;
  }

  .card:hover h1 {
    transform: translateY(10px);
  }
  .card:hover p {
    transform: translateY(-10px);
  }
}

@media (min-width: 320px) and (max-width: 900px) {
  .card {
    width: 160px;
    height: 220px;
    border-radius: 30px;
  }

  .card h1 {
    font-size: 0.66rem;
    padding: 4px 2px;
    transform: translateY(10px);
    width: 78%;
  }

  .card p {
    padding: 5px;
    font-size: 0.4rem;
    transform: translateY(-10px);
    width: 90%;
  }
}
