.footer {
	width: 100%;
	height: 200px;
	border-radius: 20px;
	margin: 20px 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
.footer .container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(35deg, #413eff, #f940ff);
}
:global(.Dark) .footer .container {
	background: linear-gradient(35deg, #080038, #3b003d);
}
.footer .container div {
	width: 30%;
	height: 100%;
}
.tag {
	background: #999600;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}







@media (max-width: 900px) {
	.footer {
		width: 96%;
		margin: 20px auto 8px;
	}
}