.header {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #00ADB5;
  border-radius: 10px;
  margin: 10px 0 20px;
  transition: .4s background-color;
}

.header .centerdiv {
  margin: 0 auto;
}
.header .leftdiv {
  margin-right: auto;
  padding: 0 10px;
}
.header .rightdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 5px;
  font-family: "tanha", sans-serif;
  padding: 0 10px;
  margin-left: auto;
}
.header .rightdiv * {
  line-height: 0;
}
.header .rightdiv h3 a {
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-decoration: none;
  color: #F6F6F6;
  transition: 0.3s;
}
.header .rightdiv img {
  /* width: 50px; */
  height: 30px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .centerdiv ul {
  gap: 10px;
}
.header .leftdiv ul {
  gap: 5px;
}

.header .centerdiv a {
  text-decoration: none;
  font-weight: 400;
  background-color: #F6F6F6;
  border-radius: 5px;
  padding: 8px 15px;
  color: #000;
  transition: 0.3s;
}

.header .centerdiv a {
  font-family: "tanha", serif;
  line-height: 2;
  font-size: 0.8rem;
}

:global(.cart) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.cart) a {
  background: #ffffff;
  color: #2cbd00;
  padding: 4px;
  width: 35px;
  height: 35px;
  line-height: 0;
  font-weight: 900;
  font-size: 1.6rem;
  text-align: center;

  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
}

:global(.cart a.active) {
  background: #16db00;
  color: #ffffff;
}
:global(.Dark .cart a.active) {
  background: #0d8100;
  color: #fff;
}

.centerdiv :global(a.active) {
  background-color: #bfddf7;
}

@media (min-width: 1024px) and (hover: hover) {
  .header :global(.cart) a:hover {
    background: #16db00;
    color: #fff;
  }
  :global(.Dark) .header :global(.cart) a:hover {
    background: #0c7c00;
    color: #F6F6F6;
  }

  .header .rightdiv h3 a:hover {
    color: #084052;
  }
  :global(.Dark) .header .rightdiv h3 a:hover {
    color: #46d4ff;
  }

  .header .centerdiv a:not(:global(a.active)):hover {
    background-color: #9bb9d3;
  }
}

:global(.cart) > a > div {
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 0.8rem;
  background-color: #ff0000;
  line-height: .8;
  padding: 3px;
  border-radius: 4px;
  color: #fff;
}
:global(.cart) > a {
  position: relative;
}

@media (max-width: 900px) {
  .header {
    margin: 8px auto 20px;
    width: 96%;
  }

  .rightdiv h3 a {
    font-size: .8rem;
  }
}

.themeBtn {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 0;
  padding: 4px;
  font-weight: 300;
  border-radius: 10px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.themeBtn * {
  position: absolute;
  transition: .35s;
}
.themeBtn {
  background: #EEEEEE;
  color: #070F2B;
}
:global(.Dark) .themeBtn {
  background: #070F2B;
  color: #EEEEEE;
}
.themeBtn .moon:not(:global(.Dark) .themeBtn .moon),
:global(.Dark) .themeBtn .sun {
  transform: scale(0) rotate(360deg);
  opacity: 0;
}
:global(.Dark) .header {
  background: #365486;
  /* color: #fff; */
}