.header {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #676d8b;
  border-radius: 10px;
  margin: 10px 0 20px;
}

.header .centerdiv {
  margin: 0 auto;
}
.header .leftdiv {
  margin-right: auto;
  padding: 0 10px;
}
.header .rightdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 5px;
  font-family: "tanha", sans-serif;
  padding: 0 10px;
  margin-left: auto;
}
.header .rightdiv * {
  line-height: 0;
}
.header .rightdiv h3 a {
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.header .rightdiv img {
  /* width: 50px; */
  height: 30px;
  color: red;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header .centerdiv a:not(:global(.cart a)) {
  text-decoration: none;
  font-weight: 400;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 8px 15px;
  color: #000;
  transition: 0.3s;
}

.header .centerdiv a:not(:global(.cart > a)) {
  font-family: "tanha", serif;
  line-height: 2;
  font-size: 0.8rem;
}

:global(.cart) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.cart) a {
  background: #ffffff;
  color: #2cbd00;
  padding: 4px;
  line-height: 0;
  font-weight: 900;
  font-size: 1.6rem;

  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

:global(.cart a.active) {
  background: #16db00;
  color: #fff;
}

.centerdiv :global(a.active:not(.cart > a)) {
  background-color: #c9c9c9;
}

@media (hover: hover) {
  .centerdiv :global(.cart) a:hover {
    background: #16db00;
    color: #fff;
  }

  .header .rightdiv h3 a:hover {
    color: #16c9ff;
  }

  .header .centerdiv :global(a:not(.cart > a):hover) {
    background-color: #b1b1b1;
  }
}

:global(.cart) > a > div {
  position: absolute;
  bottom: -4px;
  right: -4px;
  font-size: 0.8rem;
  background-color: #ff0000;
  line-height: 1;
  padding: 2px 4px;
  border-radius: 4px;
  color: #fff;
}
:global(.cart) > a {
  position: relative;
}

@media (max-width: 480px) {
  .header {
    margin: 8px auto 20px;
    width: 96%;
  }
}

.themeBtn {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 0;
  padding: 4px;
  font-weight: 300;
  border-radius: 10px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.themeBtn * {
  position: absolute;
  transition: .35s;
}
:global(.Light) .themeBtn {
  background: #ffffff;
  color: #2b2828;
}
:global(.Dark) .themeBtn {
  background: #2b2b2b;
  color: #fff;
}
:global(.Light) .themeBtn .moon,
:global(.Dark) .themeBtn .sun {
  transform: scale(0) rotate(360deg);
  opacity: 0;
}
:global(.Dark) .themeBtn {
  background: #2b2b2b;
  color: #fff;
}