.container {
  width: 100%;
  height: calc(100dvh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "tanha", sans-serif;
}

.mysvg {
  width: 100px;
  height: 100px;
  stroke-dasharray: 500,500;
  stroke-dashoffset: 0;
}

.mysvg:hover path {
  stroke-dasharray: 500,500;
  stroke-dashoffset: 200;
}