.container {
  width: 100%;
  height: calc(100dvh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "tanha", sans-serif;
}
.container h1 {
  transition: 0.4s color;
}

:global(.Dark) .container h1 {
  color: #fff;
}
