.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.main * {
  font-family: "tanha", serif;
}

.orgForm {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switcher {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6589ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2000px;
  height: 250%;
  border-radius: 50%;
  /* overflow: hidden; */
  transition: 1.4s ease-in-out;
}
:global(.Dark) .switcher {
  background: #0038d3;
  color: #d4d4d4;
}
.switcher > div {
  position: fixed;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.switcher > div div {
  transition: .4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 0;
  gap: 10px;
  transition-delay: 1.5s;
}
.switcher > div div button {
  min-width: 65px;
  padding: 0 10px 3px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.switcher > div div button:active {
  transform: scale(.95);
}

.signIn .switcher {
  transform: translateY(-64%) translate(-50%, -50%);
}
.signIn .switcher :global(.signIn) {
  opacity: 0;
  transition-delay: 0s;
  transition: .15s ease-in-out;
}
.signUp .switcher {
  transform: translateY(64%) translate(-50%, -50%);
}
.signUp .switcher :global(.signUp) {
  opacity: 0;
  transition-delay: 0s;
  transition: .15s ease-in-out;
}

/* form */
.orgForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 0 0;
  width: 100%;
  min-height: 100%;
  transition: .5s ease-in-out;
  /* opacity: 1; */
  transition-delay: .3s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.orgForm form button {
	background: transparent;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 1px 10px 5px;
	font-size: .9rem;
  cursor: pointer;
}
:global(.Dark) .orgForm form button {
	border: 2px solid #ffffff;
	color: #fff;
}
.orgForm form h1 {
	margin-bottom: 40px;
  margin-top: -30px;
	text-align: center;
}
:global(.Dark) .orgForm form h1 {
	color: #fff;
}
.orgForm form div {
  display: flex;
  /* justify-content: center;
	align-items: center; */
  flex-direction: column;
  align-items: end;
}
.orgForm form input {
  width: 200px;
  outline: none;
  border: 1.5px solid transparent;
  background: #cacaca;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  height: 30px;
  padding: 0 10px;
  direction: ltr;
}
:global(.Dark) .orgForm form input {
  background: #0066da;
  color: #fff;
}
.orgForm form input:focus {
  border-color: #8b8b8b;
  background: #fff;
}
.orgForm form input:focus {
  border-color: #000;
  background: #fff;
}
:global(.Dark) .orgForm form input:focus {
  border-color: #ffffff;
  background: #000c3d;
}
.orgForm form input:focus + label {
  transform: translateY(-48px);
  cursor: default;
  background: #fff;
}
:global(.Dark) .orgForm form input:focus + label {
  background: #000c3d;
}
label {
  color: #000000;
  margin-left: 15px;
  cursor: text;
  transform: translateY(-30px);
  transition: 0.3s;
  height: 20px;
}
:global(.Dark) label {
  color: #ffffff;
}

.signUp .signInForm {
  opacity: 0;
  transition-delay: 0s;
  transition: .3s ease-in-out;
  visibility: hidden;
}
.signIn .signUpForm {
  opacity: 0;
  transition-delay: 0s;
  transition: .3s ease-in-out;
  visibility: hidden;
}