.navbar {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  justify-content: center;
  background-color: #676d8b;
  border-radius: 10px;
  margin: 10px 0 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 8px 15px;
  color: #000;
  transition: 0.3s;
}

:global(.cart) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.cart) a {
  background: #ffffff;
  color: #2cbd00;
  padding: 4px;
  line-height: 0;
  font-weight: 900;
  font-size: 1.6rem;
}

:global(.cart a.active) {
  background: #16db00;
  color: #fff;
}

:global(a.active:not(.cart > a)) {
  background-color: #c9c9c9;
}

@media (hover: hover) {
  :global(.cart) a:hover {
    background: #16db00;
    color: #fff;
  }

  .navbar :global(a:not(.cart > a):hover) {
    background-color: #b1b1b1;
  }
}

@media (max-width: 480px) {
  .navbar {
    margin: 8px auto 20px;
    width: 96%;
  }
}
