.navbar {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  justify-content: center;
  background-color: #676d8b;
  border-radius: 10px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  font-weight: 600;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 8px 15px;
  color: #000;
  transition: 0.3s;
}

@media (hover: hover) {
  .navbar a:hover {
    background-color: #c9c9c9;
  }
}