img {
  width: 200px;
  height: 200px;
  transition: 0.4s ease-in-out;
}

img:hover {
  border-radius: 50%;
  animation: my-animation forwards infinite 1s linear;
}

p {
  direction: rtl;
  text-align: left;
}

@keyframes my-animation {
  0% {
	transform: none;
  }
  100% {
	transform: rotate(360deg);
  }
}
