.addToBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: start;
  padding: 8px 15px;
  /* box-shadow: 0 0 5px 1px #0000009d; */
}

.addToBox span {
  font-size: 1.08rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.addToBox span::after {
  content: "\F06C\00FE0E";
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* -webkit-box-align: center; */
  /* -ms-flex-align: center; */
  /* align-items: center; */
  /* -webkit-box-pack: center; */
  /* -ms-flex-pack: center; */
  /* justify-content: center; */
  /* font-size: 16px; */
  /* font-size: 1rem; */
  /* font-weight: 400; */
  /* letter-spacing: normal; */
  /* line-height: 0; */
  width: 16px;
  height: 16px;
  font-family: digikala;
  font-size: 100%;
  line-height: 0.9;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-style: normal; */
  /* font-variant: normal; */
  /* font-weight: 400; */
  /* text-decoration: none; */
  /* text-transform: none; */
  /* line-height: 1; */
  /* box-sizing: inherit; */
}

.back_box_favorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 10px;
  width: 100%;
  top: 10px;
  left: 0;
  /* background-color: #000c3d; */
  /* height: 50px; */
  z-index: 3;
}
:global(.Dark) .back_box_favorite .backButton {
  background-color: #000c3d;
}
.back_box_favorite .backButton {
  background-color: #cdffff;
  border-radius: 10px;
}
.backButton {
  border-radius: 50%;
  line-height: 0;
  background: transparent;
  cursor: pointer;
  border: none;
  color: #00000083;
  font-size: 2.5rem;
}
:global(.Dark) .backButton {
  color: #ffffffc0;
}

@media (max-width: 560px) {
  .addToBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-top: 2px solid #00000046;
    background-color: #ffffff;
    bottom: 0;
    padding: 8px 15px;
    z-index: 5;
    /* box-shadow: 0 0 5px 1px #0000009d; */
  }
  :global(.Dark) .addToBox {
    border-top: 2px solid #ffffff4b;
    background-color: #00071f;
  }
}
