.addToBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: start;
  background-color: #ffffff;
  padding: 8px 15px;
  /* box-shadow: 0 0 5px 1px #0000009d; */
}

.addToBox button {
  font-size: 1rem;
  background-color: #51ff00;
  border-radius: 5px;
  border: none;
  padding: 0 8px;
  width: 130px;
  min-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.addToBox button:hover {
  background-color: #3cbe00;
}

.addToBox button:active {
  background-color: #1a5300;
  color: #fff;
  transition: none;
}

.addToBox span {
  font-size: 1rem;
}

.backButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  border: none;
  background: #0300b4;
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2px 0;
}

@media (max-width: 560px) {
  .addToBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-top: 2px solid #0000001e;
    background-color: #ffffff;
    bottom: 0;
    padding: 8px 15px;
    z-index: 5;
    /* box-shadow: 0 0 5px 1px #0000009d; */
  }

  .addToBox button {
    font-size: 1rem;
    background-color: #51ff00;
    border-radius: 5px;
    border: none;
    padding: 6px 8px;
    width: 130px;
  }

  .addToBox span {
    font-size: 1rem;
  }
}
