.image {
  width: 200px;
  height: 200px;
  transition: 0.3s ease-in-out;
}

.image:hover {
  border-radius: 50%;
  animation: my-animation alternate infinite .8s ease-in-out;
}

ul {
  list-style-type: none;
}

.colors {
  display: flex;
  list-style-type: none;
}

.colors li div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #6666664b;
  z-index: 1;
}

.colors li {
  display: flex;
  gap: 5px;
  margin: 0 10px;
  cursor: pointer;
  padding: 3px 5px;
  transition: .3s;
  border-radius: 5px;
}

.colors li.active {
  box-shadow: 0 0 1px 1px #686868d3;
}

@keyframes my-animation {
  0% {
	transform: none;
  }
  100% {
	transform: translateY(-5px);
  }
}
