@font-face {
  font-family: digikala;
  src: url(/font/Digikala.eot);
  src: url(/font/Digikala.eot?#iefix) format("eot"),
    url(/font/Digikala.woff2) format("woff2"),
    url(/font/Digikala.woff) format("woff"),
    url(/font/Digikala.ttf) format("truetype");
}

.addToBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: start;
  background-color: #ffffff;
  padding: 8px 15px;
  /* box-shadow: 0 0 5px 1px #0000009d; */
}

.addToBox span {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.addToBox span::before {
  content: "\F06C\00FE0E";
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* -webkit-box-align: center; */
  /* -ms-flex-align: center; */
  /* align-items: center; */
  /* -webkit-box-pack: center; */
  /* -ms-flex-pack: center; */
  /* justify-content: center; */
  /* font-size: 16px; */
  /* font-size: 1rem; */
  /* font-weight: 400; */
  /* letter-spacing: normal; */
  /* line-height: 0; */
  width: 16px;
  height: 16px;
  font-family: digikala;
  font-size: 100%;
  line-height: 0.9;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-style: normal; */
  /* font-variant: normal; */
  /* font-weight: 400; */
  /* text-decoration: none; */
  /* text-transform: none; */
  /* line-height: 1; */
  /* box-sizing: inherit; */
}

.backButton {
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  line-height: 0;
  background: transparent;
  cursor: pointer;
  border: none;
  color: #00000083;
  font-size: 2.2rem;
}

@media (max-width: 560px) {
  .addToBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-top: 2px solid #0000001e;
    background-color: #ffffff;
    bottom: 0;
    padding: 8px 15px;
    z-index: 5;
    /* box-shadow: 0 0 5px 1px #0000009d; */
  }
}
