/* my slider */
.mySlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
}

.mySlider img {
  user-select: none;
}

/* product details */
.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

ul {
  list-style-type: none;
}

.colors {
  display: flex;
  list-style-type: none;
}

.colors li div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #6666664b;
  z-index: 1;
}

.colors li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 10px;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 5px;
}

.colors li.active {
  border: 2px solid #686868d3;
}

/* pagination image slider (thumbs) */
.productImagesPagination {
  height: 15%;
  width: 72%;
  margin: 0 !important;
  padding: 8px !important;
  border: 2px solid #4375ff;
  border-radius: 8px;
}

.productImagesPagination > div > div {
  width: fit-content !important;
  overflow: hidden;
  transition: 0.3s;
}

.productImagesPagination > div {
  width: fit-content !important;
  gap: 20px;
}

.productImagesPagination img {
  height: 100%;
  width: auto;
}

/* mark active thumbs */
:global(.swiper-slide-thumb-active) {
  box-shadow: 0 0 0 0 #000, 0 0 2px 2px #4375ff;
}

.productImagesPagination > div > div::after {
  transition: 0.3s;
  content: "";
  width: 10px;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background: #6e6e6e;
  border: #d8d8d8 1px solid;
}

:global(.swiper-slide-thumb-active)::after {
  bottom: 0px !important;
}

@media (min-width: 1024px) {
  .colors li {
    padding: 3px;
    border-radius: 50%;
  }

  .colors li div {
    width: 20px;
    height: 20px;
  }

  .colors li.active {
    border: 2px solid #4375ff;
  }
}

/* orginal image slider */
.productImagesSwiper {
  width: 100%;
  height: 82%;
  margin: 0 !important;
  border-radius: 15px;
}

/* .productImagesSwiper > div > div {
  display: flex;
  justify-content: center;
} */

.productImagesSwiper img {
  width: 100%;
  height: 100%;
}

/* product DAS(Dtails And Sliders) START */
.productDAS {
  position: relative;
  display: flex;
  width: 100%;
  gap: 30px;
}
/* product DAS(Dtails And Sliders) END */

@media (max-width: 560px) {
  .productDAS {
    flex-direction: column;
    /* width: 100%;
    gap: 30px; */
  }

  .mySlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 450px;
    position: sticky;
    top: 0;
  }

  .productImagesPagination {
    height: 12%;
    width: 70%;
    padding: 5px !important;
  }

  .productImagesPagination > div {
    gap: 26px;
  }

  .productDetails {
    padding-top: 20px;
    border-radius: 20px 20px 0 0;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    z-index: 2;
    height: 100vh;
  }
}
