img {
  width: 200px;
  height: 200px;
  transition: 0.3s ease-in-out;
}

img:hover {
  border-radius: 50%;
  animation: my-animation alternate infinite .8s ease-in-out;
}

p {
  direction: rtl;
  text-align: left;
}

@keyframes my-animation {
  0% {
	transform: none;
  }
  100% {
	transform: translateY(-5px);
  }
}
