.addToBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: start;
  background-color: #ffffff;
  padding: 8px 15px;
  /* box-shadow: 0 0 5px 1px #0000009d; */
}

.addToBox .buttons {
  position: relative;
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addToBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 5px;
  font-size: 1rem;
  background-color: #51ff00;
  border-radius: 5px;
  border: none;
  padding: 0 8px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  transition: 0.8s width;
  transition-delay: 0.35s;
  overflow: hidden;
}

.addToBox button.putBtn {
  z-index: 2;
  right: 0;
  top: 0;
}

.addToBox button.putBtn.active {
  width: 40px;
}

.addToBox button.popBtn {
  z-index: 1;
  left: 0;
  top: 0;
}

.addToBox button.popBtn.active {
  width: 40px;
}

.increase {
  position: absolute;
  transform: translateY(150%);
  transition: 0.5s ease-in-out;
}
.active .increase {
  transform: none;
}

.decrease {
  position: absolute;
  transform: translateY(150%);
  transition: .3s;
}
.active.morethan1 .decrease {
  transform: none;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 130px;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.active .add {
  transform: translateY(-150%);
}

.remove {
  position: absolute;
  transition: .3s;
}
.morethan1 .remove {
  transform: translateY(-150%);
}

/* .addToBox button:hover {
  background-color: #3cbe00;
} */

.addToBox button:active {
  background-color: #3cbe00;
}

.addToBox span {
  font-size: 1rem;
}

.backButton {
  position: absolute;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  line-height: 0;
  background: transparent;
  cursor: pointer;
  border: none;
  color: #00000083;
  font-size: 2.2rem;
}

@media (max-width: 560px) {
  .addToBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-top: 2px solid #0000001e;
    background-color: #ffffff;
    bottom: 0;
    padding: 8px 15px;
    z-index: 5;
    /* box-shadow: 0 0 5px 1px #0000009d; */
  }

  .addToBox button {
    font-size: 1rem;
    background-color: #51ff00;
    border-radius: 5px;
    /* transition: .3s; */
    /* width: 150px; */
  }

  .addToBox span {
    font-size: 1rem;
  }
}
