.image {
  width: 200px;
  height: 200px;
  transition: 0.3s ease-in-out;
}

.image:hover {
  border-radius: 50%;
  animation: my-animation alternate infinite .8s ease-in-out;
}

ul {
  list-style-type: none;
}

.colors {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.colors li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000;
}

p {
  direction: rtl;
  text-align: left;
}

@keyframes my-animation {
  0% {
	transform: none;
  }
  100% {
	transform: translateY(-5px);
  }
}
