.pDetail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "tanha", serif;
}

.pDetail img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  padding: 2px;
  border: solid 1px #00000060;
  object-fit: fill;
}

.pDetail li {
  display: flex;
  gap: 12px;
  border: 2px solid #25e6ff;
  border-radius: 15px;
  padding: 10px;
  height: 124px;
}

.colorDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.colorDiv div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #00000073;
}

.cartDTLBTN :global(.updateButtons) {
  font-size: 0.7rem;
  width: 100px;
  height: 28px;
}

.cartDTLBTN {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  /* min-height: 150px; */
  height: 100%;
  /* width: 100%; */
}

.cartDTLBTN h1 {
  line-height: 1;
}

.cartDTLBTN :global(.updateButtons) button {
  font-size: 0.9rem;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  font-family: "tanha", serif;
}

.empty h1 {
  font-size: 1.8rem;
}

@media (max-width: 480px) {
  .cartDTLBTN h1 {
    font-size: .9rem;
    line-height: 1;
  }

  .cartDTLBTN :not(h1) {
    font-size: 0.8rem;
    line-height: 1;
  }

  .cartDTLBTN .colorDiv > * {
    font-size: .6rem;
  }

  .cartDTLBTN {
    padding: 4px 0 2px;
  }

  .cartDTLBTN .colorDiv div {
    width: 12px;
    height: 12px;
  }

  .cartDTLBTN :global(.updateButtons) {
    font-size: 0.7rem;
    width: 80px;
    height: 22px;
  }

  .cartDTLBTN :global(.updateButtons) button {
    font-size: 0.9rem;
    border-radius: 6px;
  }

  .pDetail {
    padding: 0 8px;
    gap: 10px;
  }

  .pDetail img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }

  .pDetail ul {
    padding: 0 8px;
    gap: 10px;
  }

  .empty h1 {
    font-size: 1.2rem;
  }
}
