.container {
  font-family: "tanha", serif;
  padding-bottom: 60px;
  display: flex;
}

.pDetail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 65%;
  align-items: center;
}

.pDetail img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: fill;
}

.pDetail li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  height: 175px;
  width: 100%;
}

.break:not(:last-child) {
  width: 95%;
  height: 2px;
  background: #6969693b;
  border-radius: 50%;
}

.colorDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.colorDiv div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #00000073;
}

.cartDTLBTN :global(.updateButtons) {
  font-size: 0.7rem;
  width: 100px;
  height: 28px;
}

.cartDTLBTN {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  /* min-height: 150px; */
  height: 100%;
  width: 70%;
}

.cartDTLBTN h1 {
  font-size: 1.6rem;
  line-height: 1;
}

.cartDTLBTN :global(.updateButtons) button {
  font-size: 0.9rem;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  font-family: "tanha", serif;
}

.empty h1 {
  font-size: 1.8rem;
}

.checkOutField {
  display: flex;
  line-height: 1.5;
  align-items: center;
  width: 30%;
}
.checkOutField div {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price span::before,
.priceAndButtons span::before {
  content: "\F06C\00FE0E";
  margin-right: 2px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 0;
  width: 16px;
  height: 16px;
  font-family: digikala;
  font-size: 100%;
  line-height: 0.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  /* line-height: 1; */
  /* box-sizing: inherit; */
}

.checkOutField button {
  font-size: 0.9rem;
  font-family: "tanha", serif;
  padding: 8px 10px;
  border-radius: 6.5px;
  color: #fff;
  border: none;
  background: #129e00;
  line-height: 1;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 10px -3px #000000,
    inset 4px 4px 8px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 10px -3px #000000,
    inset 4px 4px 8px 0 rgba(255, 255, 255, 0.8);
  transition: 0.05s;
}
.checkOutField button:active {
  -webkit-box-shadow: 0 0 0 0 #000000,
    inset -2px -2px 10px 1px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px 0px #000000,
    inset -2px -2px 10px 1px rgba(255, 255, 255, 0.8);
}

.priceAndButtons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* desktop/tablet break point */
@media (min-width: 481px) {
  .checkOutField {
    flex-direction: column-reverse;
    padding: 40px 20px;
    position: sticky;
    justify-content: center;
    gap: 20px;
    min-height: 150px;
    height: fit-content;
    background: #fcfcfc;
    border: 2px solid #c9c9c9;
    top: 20px;
    border-radius: 20px;
  }

  .container {
    justify-content: space-between;
  }
}
/* mobile break point */
@media (max-width: 480px) {
  .container {
    display: block;
  }

  .cartDTLBTN h1 {
    font-size: 0.9rem;
    line-height: 1;
  }

  .cartDTLBTN :not(h1) {
    font-size: 0.8rem;
    line-height: 1;
  }

  .cartDTLBTN .colorDiv > * {
    font-size: 0.6rem;
  }

  .cartDTLBTN {
    padding: 4px 0 2px;
  }

  .cartDTLBTN .colorDiv div {
    width: 12px;
    height: 12px;
  }

  .cartDTLBTN :global(.updateButtons) {
    font-size: 0.7rem;
    width: 80px;
    height: 22px;
  }

  .cartDTLBTN :global(.updateButtons) button {
    font-size: 0.9rem;
    border-radius: 6px;
  }

  .pDetail {
    padding: 0 8px;
    gap: 10px;
    width: 100%;
  }

  .pDetail img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }

  .pDetail li {
    height: 124px;
  }

  .pDetail ul {
    padding: 0 8px;
    gap: 10px;
  }

  .empty h1 {
    font-size: 1.2rem;
  }

  .checkOutField {
    padding: 0 8px;
    display: flex;
    line-height: 1.5;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fff;
    bottom: 0;
    z-index: 10;
    border-top: 2px solid #00000031;
  }
  .checkOutField div {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .checkOutField p {
    font-size: 0.78rem;
    color: #000000a9;
  }

  .checkOutField button {
    font-size: 0.9rem;
    font-family: "tanha", serif;
    padding: 8px 10px;
    border-radius: 6.5px;
    color: #fff;
    border: none;
    background: #129e00;
    line-height: 1;
  }
}
