.pDetail {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "tanha", serif;
}

.pDetail img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  padding: 2px;
  border: solid 1px #000;
}

.pDetail li {
  display: flex;
  gap: 5px;
  border: 2px solid #25e6ff;
  border-radius: 15px;
  padding: 10px;
}

.colorDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.colorDiv div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #00000073;
}

.cartDB :global(.updateButtons) {
	font-size: .7rem;
	width: 100px;
	height: 28px;
}

.cartDB :global(.updateButtons) button {
	font-size: .9rem;
}
