* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 10px;
}

a.active {
  background-color: #c9c9c9;
}

@media (min-width: 320px) and (max-width: 389px) {
  body {
    padding: 0;
  }
}