@font-face {
  font-family: "tanha";
  src: url("/font/Tanha.eot");
  /* IE9 Compat Modes */
  src: url("/font/Tanha.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/font/Tanha.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/font/Tanha.woff") format("woff"),
    /* Pretty Modern Browsers */ url("/font/Tanha.ttf") format("truetype");
  /* Safari, Android, iOS */
  /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}
@font-face {
  font-family: digikala;
  src: url(/font/Digikala.eot);
  src: url(/font/Digikala.eot?#iefix) format("eot"),
    url(/font/Digikala.woff2) format("woff2"),
    url(/font/Digikala.woff) format("woff"),
    url(/font/Digikala.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.main {
  padding: 4px 20px;
  background-color: inherit;
  /* overflow: hidden; */
}
html {
  transition: 0.4s background-color;
}
.disable-scroll {
  overflow: hidden;
}
.Dark {
  background: #000c3d;
}
.Dark::selection {
  background: #ffffff;
  color: #000;
}

@media (max-width: 900px) {
  .main {
    padding: 0;
  }
}
