@font-face {
  font-family: "tanha";
  src: url("/font/Tanha.eot");
  /* IE9 Compat Modes */
  src: url("/font/Tanha.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/font/Tanha.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/font/Tanha.woff") format("woff"),
    /* Pretty Modern Browsers */ url("/font/Tanha.ttf") format("truetype");
  /* Safari, Android, iOS */
  /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 4px 20px;
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }
}
