/* my slider */
.mySlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 400px;
}

.mySlider img {
  user-select: none;
}

/* pagination image slider (thumbs) */
.productImagesPagination {
  height: 15%;
  width: 65%;
  margin: 0 !important;
  padding: 8px !important;
  border: 2px solid #4375ff;
  border-radius: 8px;
}

.productImagesPagination > div > div {
  width: fit-content !important;
  overflow: hidden;
  transition: 0.3s;
  justify-content: center;
}

.productImagesPagination > div {
  width: fit-content !important;
  gap: 20px;
}

.productImagesPagination img {
  height: 100%;
  width: auto;
}

/* mark active thumbs */
:global(.swiper-slide-thumb-active) {
  box-shadow: 0 0 0 0 #000, 0 0 2px 2px #4375ff;
}

.productImagesPagination > div > div::after {
  transition: 0.3s;
  content: "";
  width: 10px;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background: #6e6e6e;
  border: #d8d8d8 1px solid;
}

:global(.swiper-slide-thumb-active)::after {
  bottom: 0px !important;
}

/* orginal image slider */
.productImagesSwiper {
  width: 100%;
  height: 82%;
  margin: 0 !important;
  border-radius: 15px;
}

.productImagesSwiper > div > div {
  display: flex;
  justify-content: center;
}

/* .productImagesSwiper > div > div {
  display: flex;
  justify-content: center;
} */

.productImagesSwiper img {
  width: auto;
  height: 100%;
}

@media (max-width: 900px) {
  .productImagesSwiper img {
    width: auto;
    height: 100%;
  }

  .productImagesSwiper {
    border-radius: 0;
  }

  .mySlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 350px;
    position: sticky;
    top: 0px;
    opacity: calc(var(--scroll-scale));
    /* transform: scale(var(--scroll-scale));
    transform-origin: top center; */
    margin-bottom: 15px;
  }

  .productImagesPagination {
    height: 16%;
    width: 70%;
    padding: 5px !important;
  }

  .productImagesPagination > div {
    gap: 26px;
  }
}
