.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000004b;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  background: #ffffff;
  transition: 0.3s background;
}
:global(.Dark) .menu {
  background: #000c3f;
}
:global(.Dark) .menu div {
  background: #ffffffc2;
}
.menu div {
  position: absolute;
  width: 60%;
  height: 3px;
  background: #000000c2;
  border-radius: 15px;
  transition: 0.3s;
}
.menu div:nth-child(1) {
  transform: translateY(-6px);
}
.menu div:nth-child(3) {
  transform: translateY(6px);
}
.menu.open div:nth-child(1) {
  transform: rotate(135deg);
}
.menu.open div:nth-child(2) {
  width: 0;
}
.menu.open div:nth-child(3) {
  transform: rotate(45deg);
}

.leftContainer {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: transparent;
}
.menu.open + .leftContainer {
  z-index: 100;
}
.list {
  backdrop-filter: blur(6px);
  background: #00000077;
  position: fixed;
  top: 0;
  /* left: -250px; */
  right: -250px;
  height: 100dvh;
  width: 250px;
  z-index: 999;
  transition: 0.4s;
  /* display: flex;
  justify-content: center; */
  padding: 21px 20px;
  border-radius: 25px 0 0 25px;
}
:global(.Dark) .list {
  background: #00000088;
}
.menu.open ~ .list {
  right: 0px;
}
.list ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  /* padding: 21px 20px 0 0; */
  width: 100%;
  /* background: #000; */
  color: #ffffff;
  gap: 6px;
}
.list ul li a {
  color: #000000;
  text-decoration: none;
  font-family: "tanha", serif;
  background: #ffffffcc;
  font-size: 1.2rem;
  padding: 0 10px;
  width: 150px;
  border-radius: 6px;
  transition: 0.3s;
}
.list ul li a:global(.active:not(.cart .active)) {
  color: #c6d5ff;
  background: #00308acc;
  padding: 0 15px;
}
.list ul li {
  display: flex;
  /* width: 500px; */
}
.list ul li:nth-child(1) {
  padding-right: 38px;
  margin-bottom: 55px;
  justify-content: space-between;
  width: calc(100% - 50px);
}

.URLs a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login,.logout {
  background: #fff;
  font-size: 1.3rem;
  line-height: 0;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  transition: 0.3s;
  position: relative;
  display: flex;
  border: none;
}
.login svg,
.logout svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:global(.Dark) .login,
:global(.Dark) .logout {
  background: #000c3d;
  color: #ffffffcc;
}

@media (min-width: 900px) {
  .login,
  .logout {
    background: #fff;
    font-size: 1.5rem;
    line-height: 0;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
  }
  .login:hover,
  .logout:hover {
    background: #cfd9ff;
  }
  .login svg,
  .logout svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  :global(.Dark) .login:hover,
  :global(.Dark) .logout:hover {
    background: #00218b !important;
    color: #ffffffcc;
  }
}
